@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(button) {
  // serina-button
  display: inline-block;
  min-height: 40px;

  outline: none;
  border: 1px solid #c3c6c8;
  user-select: none;
  padding: 0 15px;
  vertical-align: middle;
  cursor: pointer;



  // 所有以serina-class开头的样式
  & [class*="serina-icon-"] {
    vertical-align: middle;

    &+span {
      margin-left: 5px;
    }
  }


  @include when(disabled) {
    // 禁用的时候
    cursor: not-allowed; // 无法点击
  }

  @include when(loading) {
    // 加载的时候
    pointer-events: none;
  }

  @include when(round) {
    border-radius: 5px;
  }

  @include m(primary) {
    @include button-type(white, $--color-primary, $--color-primary);

    &:hover {
      background-color: #1b8af9;
    }
  }

  @include m(warning) {
    @include button-type(white, $--color-warning, $--color-warning)
  }

  @include m(danger) {
    @include button-type(white, $--color-danger, $--color-danger)
  }

  @include m(info) {
    @include button-type(white, $--color-info, $--color-info)
  }

  @include m(success) {
    @include button-type(white, $--color-success, $--color-success)
  }

  @include m(default) {
    @include button-type(white, $--color-default, $--color-default)
  }
}